<div *ngIf="roomReservations.length == 0">
  <h1>NO RESERVATIONS</h1>
</div>

<div class="w3-content" style="max-width:1532px;">
    <div class="w3-row-padding w3-padding-16" *ngFor="let reservation of roomReservations">
        <div class="w3-third w3-margin-bottom">
        <div class="w3-container w3-white">
          <h5> Accommodation<a [routerLink] = "['/accommodation', reservation.Room.AccomodationId]" >  {{ reservation.Room.Accommodation.Name }}</a>
          </h5>
          <div>
              Room reserved from {{ reservation.StartDate | date }} to {{ reservation.EndDate | date }}
          </div>
          <div>
              Room number: {{reservation.Room.RoomNumber}} <br/>
              Bed count: {{reservation.Room.BedCount}} <br />
              Description: {{reservation.Room.Description}} <br/> 
              Price per night: {{reservation.Room.PricePerNight}} <br/>  
          </div>
          <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
          <button class="w3-button w3-block w3-black w3-margin-bottom" (click)="deleteRoomReservation(reservation)">Cancel</button>
          <button (click)="showModal(true, reservation)" class="w3-button w3-block w3-black w3-margin-bottom">Edit</button>
          <div [id]="reservation.Id" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-red">
                <span (click)="showModal(false, reservation)" class="w3-button w3-display-topright">&times;</span>
                <div class="w3-container">
                  <h2>Edit Room Reservation</h2>
                </div>
                <form  #f="ngForm" (ngSubmit)="editRoomReservation(f.value, reservation.RoomId)">
                <div class="w3-container w3-white w3-padding-16">
                      <div class="w3-row-padding" style="margin:0 -16px;">
                      <div class="w3-half w3-margin-bottom">
                          <label><i class="fa fa-calendar-o"></i> Check In</label>
                          <input class="w3-input w3-border" type="date" placeholder="MM DD YYYY" name="startDate" required ngModel>
                        </div>
                        <div class="w3-half">
                          <label><i class="fa fa-calendar-o"></i> Check Out</label>
                          <input class="w3-input w3-border" type="date" placeholder="MM DD YYYY" name="endDate" required ngModel>
                        </div>
                      </div>
                      <div class="w3-row-padding" style="margin:8px -16px;">
                      </div>
                      <button class="w3-button w3-dark-grey" type="submit">Edit</button>
                  </div>
                  <input [ngModel]="reservation.Id" type="hidden" name="Id" required ngModel>
                </form>
              </div>
            </div>
            </div>
      </div>
    </div>
  </div>
  